form(method="post", action="/allocate")
  textarea(name="data", cols="120", rows="20")
  br
  label(for="amount") Amount
  input(type="text", name="amount", id="amount")
  input(type="submit", value="Allocate")
